* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(/test/css/elo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  
  .container {
    padding: 20px;
    margin: 100px auto;
    max-width: 800px;
  }
  
  .container h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .container p {
    font-size: 16px;
    line-height: 1.5;
  }

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: aliceblue;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.navbar a:hover:before {
    width: 100%;
}


/* Styles pour les écrans de petite taille */

@media (max-width: 480px) {
    body {
        background-size: 100% auto;
    }
}


/* Styles pour les écrans de taille moyenne */

@media (min-width: 481px) and (max-width: 768px) {
    body {
        background-size: cover;
    }
}


/* Styles pour les écrans de grande taille */

@media (min-width: 769px) {
    body {
        background-size: cover;
    }
}